<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OLX Apartment Notifier</title>

    @vite(['resources/css/initial_view.css'])
</head>
<body>
    <div class="container">
        <h1>OLX Apartment Notifier</h1>
        <p class="description">
            Aplikacja na podstawie twoich preferencji dotyczących mieszkań będzie powiadamiać cię emailem gdy 
            pojawią się oferty spełniające kryteria.
        </p>
        <p class="description">
            Zaloguj się lub zarejestruj, aby zacząć korzystać!
        </p>

        <a href="/login"> 
            <button class="btn btn-login">Logowanie</button></a>
        <a href="/registration">
            <button class="btn btn-register">Rejestracja</button></a>
    </div>
</body>
</html>
